node_modules
xcuserdata/
privy.xcodeproj/xcuserdata/
privy.xcodeproj/project.xcworkspace/
privy.xcodeproj/project.xcworkspace/xcshareddata/
privy.xcodeproj/xcuserdata/jhuang.xcuserdatad/xcschemes/
privy.xcodeproj/xcuserdata/scottdixon.xcuserdatad/
