/*
*	############################################################################
*	
*	Zi - Simple Landing Page!
*	---------------------------------------------------------------------
*
*	Version		1.0  
*	Author		The Develovers
*	Copyright	Copyright 2014 The Develovers
*
*	############################################################################
*/ 
 
// import modules, general styles and variables
@import "modules/mixins";
@import "partials/base";
@import "partials/general";

// import third-party 
@import "vendors/jquery.bxslider";
@import "vendors/slick.custom";

// import web elements
@import "partials/page"; 