/* ------------------ PAGE STYLES ------------------ */

/****************** HERO UNIT **********************/
.hero-unit {
	padding-top: 1em;
	padding-bottom: 0;
	position: relative;
	font-size: 2em;
	text-align: center;
	height: auto;
	color: #fff;

	@include min-screen($break-medium) {
		text-align: left;
		height: 100%;
	}

	@include min-screen($break-large) {
		font-size: 2.2em;
		padding-top: 4em;
	}

	&.hero-single-column {
		text-align: center;

		@include min-screen($break-medium) {
			height: auto;
		}

		.page-video-wrapper {
			width: 70%;
			margin-bottom: 50px;
		}

		.store-buttons {
			display: block;
		}
	}

	&.fullscreen-image-bg {
		background: {
			image: image-url('zi-fullscreen-bg.png');
			repeat: no-repeat;
			position: center -7em;
		}

		@include min-screen($break-large) {
			background-position: center -4em;
		}
	}

	&.fullscreen-video-bg {
		.store-buttons a {
			background-color: #893A1D;

			&:hover, &:focus {
				background-color: darken(#893A1D, 8%);
			}
		}

		&.no-video-bg {
			background-image: url('assets/videos/sky.png');
			background-repeat: no-repeat;
			background-position: center 0;
		}

	}

	&.hero-prelaunch {
		min-height: 100%;
		padding-left: 0;
		padding-right: 0;

		.left {
			width: 25%;
			padding-top: 0;
			display: none;
		}

		.right {
			width: 100%;
		}

		.header-phone {
			max-width: initial;
		}
		
		h1 {
			font-size: 1.3em; 
			font-family: "Open Sans",sans-serif;
		}

		.lead {
			margin: 30px 0;
			font-size: 0.7em;
		}

		@include min-screen($break-medium) {
			.left {
				display: block;
			}

			.right {
				padding: 1.5em 0;
				width: 70%;
				padding-left: 30px;
			}
		}

		@include min-screen($break-xlarge) {
			.container-fluid {
				width: 60%;
			}
		}
	}

	h1 {
		margin-top: 30px;
		margin-bottom: 15px;
		color: #fff;
		font-weight: 200;

		@include min-screen($break-large) {
			font-size: 1.3em;
		}
	}

	.logo {
		@include min-screen($break-small) {
			width: auto;
		}
	}

	.header-phone {
		max-width: 100%;
	}

	.left {
		@include min-screen($break-medium) {
			width: 68%;
			padding-top: 2em;
			float: left;
		}

		@include min-screen($break-large) {
			padding-top: 2.5em;
		}

		@include min-screen($break-xlarge) {
			padding-top: 2em;
		}

		.lead {
			font-size: 20px;
			margin-bottom: 35px;

			@include min-screen($break-large) {
				font-size: 24px;
			}
		}
	}

	.right {
		
		@include min-screen($break-medium) {
			float: right;
		}
	}

	.learn-more {
		position: absolute;
		left: 50%;
		margin-left: -30px;
		text-align: center;
		display: none;

		@include min-screen($break-large) {
			display: block;
			bottom: 1em;
		}

		a {
			@include border-radius(50%);
			@include opacity(0.3);
			@include transition(all 0.2s ease-out);

			display: block;
			width: 60px;
			height: 60px;
			line-height: 60px;
			color: #fff;
			border: 2px solid #fff;

			&:hover, &:focus {
				@include opacity(0.8);
			}
		}
	}
}

/****************** HOW IT WORKS SECTION **********************/
.how-it-works {
	h2 {
		margin-top: 15px;
	}

	@include min-screen($break-medium) {
		margin-top: 0;

		h2 {
			margin-top: 0;
		}
	}
}

.page-video-wrapper iframe {
	border: none;
}

/****************** STORE BUTTONS *********************/
.store-buttons {
	margin-bottom: 35px;

	a {
		margin-bottom: 10px;
		padding: 0;

		&.btn-appstore {
			background-color: #696969;

			&:hover, &:focus {
				background-color: darken(#696969, 8%);
			}
		}

		&.btn-googleplay {
			background-color: $accent-color;

			&:hover, &:focus {
				background-color: darken($accent-color, 8%);
			}
		}

		img {
			width: auto;
			height: 40px;
		}
	}

	@include min-screen($break-medium) {
		a:first-child {
			margin-left: 0;
		}
	}

	@include min-screen($break-small) {
		a {
			margin: 0 10px;
		}
	}
}

/****************** FEATURE CONTENT SLIDER **********************/
.bx-wrapper .bx-loading {
	background-image: image-url('bx_loader.gif');
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
}

.features {
	.bx-wrapper {
		margin-top: 50px;
		margin-bottom: 0;

		.bx-viewport {
			@include box-shadow(none);

			background: none;
			border: none;

			@include max-screen($break-small) {
				left: 0;
			}
		}

		.bx-pager {
			position: initial;
			padding-top: 30px;
		}
	}

	.left {
		float: left;
		width: 70%;

		@include max-screen($break-medium) {
			float: none;
			width: 100%;
		}
	}

	.right {
		margin-top: -140px;
		margin-left: 30px;
		width: 235px;
		height: 475px;
		background-image: image-url('iphone-placeholder-black.png');
		background-repeat: no-repeat;

		@include max-screen($break-medium) {
			float: none;
			margin: 0 auto;
		}

		img {
			position: relative;
			top: 75px;
			left: 0;
		}

		&.nexus-placeholder {
			background-image: image-url('nexus5-placeholder.png');

			img {
				top: 60px;
				left: 12px;
			}
		}
	}
}

ul.feature-list {
	margin-top: 25px;
	text-align: left;

	li {
		margin-bottom:40px;
		position: relative;

		h3 {
			margin-bottom: 8px;
			font-family: inherit;
			font-weight: 300;
		}

		i {
			display: none;
		}
	}

	@include max-screen($break-small) {
		text-align: center;
	}

	@include min-screen($break-medium) {
		li {
			text-align: center;
			i {
				@include inline-block;
				@include border-radius(2px);

				top: 0;
				margin-right: 5px;
				width: 50px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				font-size: 24px;
				color: #fff;
				background: #C0362C;
			}

			h3, p {

			}
		}
	}
}

.bx-wrapper .bx-pager.bx-default-pager a {
	@include border-radius(50%);

	width: 20px;
	height: 20px;
	border: 2px solid darken(#ccc, 8%);
	background: none;

	&:hover {
		background: none;
	}

	&.active {
		background: #ccc;
	}
}

/****************** INFINITE SCREENSHOT SLIDER **********************/
.screenshots {
	margin-bottom: 90px; /* compensate slick-dots being absolute position */
}

.app-screenshots {
	margin-bottom: 0;
}

.slick-slide {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

	img {
		max-width: 250px;

		@include max-screen($break-xsmall) {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.slick-prev,
.slick-next {
	@include border-radius(50%);
	@include transition(opacity 0.2s ease-out);
	@include opacity(0.3);

	width: 50px;
	height: 50px;
	margin-top: -25px;
	background-color: #1f1f1f;
	
	&:hover, &:focus {
		@include opacity(0.5);

		background-color: #1f1f1f;
	}

	&:before {
		font-family: "fontawesome";
		font-size: 36px;
		color: #fff;
	}

	@include max-screen($break-small) {
		display: none !important;
	}
}

.slick-prev{
	left: 10px;

	&:before {
		content: "\f104";
	}
}

.slick-next {
	right: 10px;

	&:before {
		content: "\f105";
	}
}

.slick-dots {
	bottom: -60px;

	li {
		button {
			@include border-radius(50%);

			border: 2px solid darken(#ccc, 8%);

			&:before {
				font-family: initial;
				font-size: 0;
			}
		}

		&.slick-active button {
			background-color: #ccc;
		}
	}
}

/****************** CALL TO ACTION **********************/
.call-to-action {
	.store-buttons {
		margin-bottom: 0;

		a {
			@include transition(all 0.2s ease-out);

			margin-bottom: 10px;
			background-color: transparent;
			border: 1px solid #bebebe;

			&:hover, &:focus {
				border-color: darken(#bebebe, 20%);
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		@include min-screen($break-xsmall) {
			a:last-child {
				margin-bottom: 10px;
			}
		}
	}
}

/****************** BOTTOM AND FOOTER AREA **********************/
ul.featuredon-list {
	li {
		padding-left: 30px;
		padding-right: 30px;
		margin-bottom: 15px;
	}
}

ul.social-icons {
	margin-top: 20px;
	margin-bottom: 35px;

	li {
		a {
			@include border-radius(3px);

			display: block;
			width: 50px;
			height: 50px;
			font-size: 24px;
			color: #fff;
			text-align: center;

			&.facebook-bg {
				&:hover, &:focus {
					background-color: darken($facebook-color, 5%);
				}
			}
			
			&.twitter-bg {
				&:hover, &:focus {
					background-color: darken($twitter-color, 5%);
				}
			}

			&.googleplus-bg {
				&:hover, &:focus {
					background-color: darken($googleplus-color, 5%);
				}
			}

			i {
				width: 22px;
				position: relative;
				top: 8px;
			}
		}
	}
}

/****************** NEWSLETTER FORM AT PRE-LAUNCH PAGE **********************/
.hero-prelaunch {
	.newsletter-form {
		margin-top: 30px;

		.input-group {
			display: block;
		}

		input,
		.btn {
			@include border-radius(4px);

			height: 60px;
			font-size: 18px;
		}

		.btn {
			padding: 6px 20px;
			background-color: $accent-color;
			color: #fff;
			border: none;
			margin-left: 0;
			margin-top: 15px;
			min-width: 135px;

			&:hover {
				background-color: darken($accent-color, 8%);
			}
			
			i {
				display: none;
			}

			&.loading {
				i {
					display: inline;
				}

				span {
					display: none;
				}
			}
		}

		.alert {
			@include transition(all .3s ease-out);
			@include opacity(0);

			padding: 5px;
			font-size: 12px;
			border: none;
			color: #fff;
			margin-top: 10px;

			&.alert-success {
				background-color: #3C763D;
			}

			&.alert-danger {
				background-color: #D84D3B;
			}

			&.active {
				@include opacity(1);
			}

			a {
				color: #fff;
				text-decoration: underline;

				&:hover, &:focus {
					text-decoration: none;
				}
			}
		}

		@include min-screen($break-medium) {
			.input-group {
				display: table;
			}

			input {
				@include border-right-radius(0);
			}

			.btn {
				@include border-left-radius(0);

				margin-top: 0;
				width: auto;
			}
		}
	}
}

/****************** NEWSLETTER FORM AT FOOTER **********************/
footer .newsletter-form {
	margin-top: 20px;

	.form-control {
		font-size: 14px;
	}

	.input-group-lg {
		> .form-control,
		> .input-group-btn > .btn {
			@include border-radius(3px);

			border: none;
		}

		> .form-control {
			@include border-right-radius(0);

			background: darken($footer-bg-color, 3%);
			outline: none;

			&:focus {
				@include box-shadow(none);
			}
		}

		> .input-group-btn > .btn {
			@include border-left-radius(0);

			background-color: $accent-color;
			font-size: 14px;
			padding: 10px;
			min-width: 93px;

			&:hover, &:focus {
				background-color: darken($accent-color, 5%);
			}

			i {
				display: none;
			}

			&.loading {
				i {
					display: inline;
				}

				span {
					display: none;
				}
			}
		}

		.input-group-btn:last-child > .btn {
			margin-left: 0;
		}
	}

	.alert {
		@include transition(all .3s ease-out);
		@include opacity(0);

		padding: 10px 0;
		border: none;
		font-size: 12px;
		background-color: transparent;

		&.active {
			@include opacity(1);
		}

		a {
			color: #fff;
			text-decoration: underline;

			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
}


/****************** TEAM **********************/
#team{
	
	background: #eee;
	margin-bottom: 0;

	img{
		max-width:80%;
		border-radius:300px;
		border:5px solid #000;
		margin-bottom:10px;
	}
}