a {
  color: #167e62;
}
a:hover, a:focus {
  color: #21bf95;
}

.section-heading hr {
  border-color: #167e62;
}

.hero-unit .store-buttons a.btn-googleplay {
  background-color: #167e62;
}
.hero-unit .store-buttons a.btn-googleplay:hover, .hero-unit .store-buttons a.btn-googleplay:focus {
  background-color: #105b47;
}
.hero-unit.fullscreen-video-bg .store-buttons a {
  background-color: #167e62;
}
.hero-unit.fullscreen-video-bg .store-buttons a:hover, .hero-unit.fullscreen-video-bg .store-buttons a:focus {
  background-color: #105b47;
}

footer .newsletter-form .input-group-lg > .input-group-btn > .btn {
  background-color: #167e62;
}
footer .newsletter-form .input-group-lg > .input-group-btn > .btn:hover, footer .newsletter-form .input-group-lg > .input-group-btn > .btn:focus {
  background-color: #105b47;
}
